<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/Transformations/Cypriot2ThingML.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="CyprIoT"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="CyprIoT" value="EMF"/>
<mapEntry key="ThingML" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="CyprIoT" value="METAMODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="ThingML" value="METAMODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="ThingML"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="CyprIoT" value="/Transformations/generated/Cypriot.ecore"/>
<mapEntry key="IN" value="/CyprIoT/transformations/CreateProtocol/test.xmi"/>
<mapEntry key="OUT" value="/CyprIoT/transformations/CreateProtocol/output.xmi"/>
<mapEntry key="ThingML" value="uri:http://www.thingml.org/xtext/ThingML"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
